PUBLIC_FIREBASE_API_KEY=AIzaSyBIzmZ9q3FxC9vDV9tiQfqrX0h6_nJdvpE
PUBLIC_FIREBASE_AUTH_DOMAIN=want-wallpapers.firebaseapp.com
PUBLIC_FIREBASE_PROJECT_ID=want-wallpapers
PUBLIC_FIREBASE_APP_ID=1:264735067555:web:c34cbd912a98f00c7b9e16
PUBLIC_FIREBASE_MEASUREMENT_ID=
PUBLIC_RECAPTCHA_SITE_KEY=
GOOGLE_APPLICATION_CREDENTIALS=
